<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutGap="10vw"
     fxLayoutAlign="center"
     fxLayoutGap.xs="0">

  

  <div id="loginCard"  fxFlex="40%" fxFlex.sm="60%">
    <mat-card>
      <mat-card-header>
        <mat-card-title color="primary">Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="my-form" #form>
          <div>
              <mat-form-field>
                  <mat-label class="lebel">UserName</mat-label>
                  <mat-icon color="primary" matPrefix>person</mat-icon>
                  <input id="userName" 
                  class="matInputdata" matInput [(ngModel)]="user.userName" 
                  name="userName" required/>
                </mat-form-field>
          </div>         
          <div>
              <mat-form-field>
                  <mat-label class="lebel">Password</mat-label>
                  <mat-icon color="primary" matPrefix>lock</mat-icon>
                  <input id="password" type="password"
                  class="matInputdata" matInput [(ngModel)]="user.password" 
                  name="password" required/>
                </mat-form-field>
      
          </div> 

        </form>
      </mat-card-content>
      <mat-card-actions>
        <button class="login-user" mat-raised-button color="primary" 
        (click)="form.checkValidity()? login(): showError('Input is not valid')">Login</button>
        <button class="register-user" mat-raised-button color="primary" 
        [routerLink]="['/register']">Register</button>

      </mat-card-actions>
    </mat-card>
  </div>
  
</div>    